Package: menabitcoin-qtonly
Version: VERSION
Architecture: ARCH
Maintainer: National Bitcoin project <admin@nationalbitcoin.org>
Conflicts: menabitcoin-full
Depends: libc6 (>= 2.29), libgcc1, libexpat1, libxcb1, zlib1g, libXau6, libfreetype6, libfontconfig1, libpng16-16, libuuid1, libxdmcp6, libbsd0
Installed-Size: 32429
Homepage: http://menabitcoin.nationalbitcoin.org
Description: This package provides M.E.N.A. Bitcoin Core tool menabitcoin-qt, a GUI version of full node software for M.E.N.A. Bitcoin peer-to-peer network.
 This package provides M.E.N.A. Bitcoin Core tool menabitcoin-qt, a GUI version of full node software for M.E.N.A. Bitcoin peer-to-peer network.
